absl-py==2.1.0
aiohttp
aiosignal
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
async-timeout
atomicwrites
attrs
autopep8
autovizwidget
awscli==1.32.78
Babel
beautifulsoup4
binaryornot==0.4.4
bitarray
black
bleach
blinker
bokeh
boto3==1.34.78
botocore==1.34.78
Bottleneck
Brotli
brotlipy
cached-property
cachetools==5.3.2
certifi
cffi
chardet
charset-normalizer
click
cloudpickle==2.2.1
colorama
comm
contextlib2==21.6.0
contourpy
cookiecutter
coverage
cryptography
cycler
Cython
cytoolz
dask
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docker==6.1.3
docstring-to-markdown
docutils
dparse==0.6.3
entrypoints
et-xmlfile
exceptiongroup
exchange_calendars==4.5.3
executing
Farama-Notifications==0.0.4
fastcache
fastjsonschema
filelock
flake8
Flask
Flask-Cors
flatbuffers==23.5.26
fonttools
fqdn
frozenlist
fsspec
future
gast==0.5.4
gevent
gmpy2
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet
grpcio==1.62.0
gssapi
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11
h2
h5py
hdijupyterutils
hpack==4.0.0
httpcore
httpx
hyperframe
idna
imagecodecs
imageio
imagesize
immutables
importlib-metadata==6.11.0
importlib-resources
inflection
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
isoduration
isort
itsdangerous
jaraco.classes
jedi
jeepney
jellyfish
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras==2.15.0
keras-rl2==1.0.5
keyring
kiwisolver
korean-lunar-calendar==0.3.1
krb5
lazy-object-proxy
lazy_loader
libclang==16.0.6
llvmlite==0.42.0
locket
lz4
Markdown==3.5.2
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
mkl-service==2.4.1
mkl_fft==1.3.8
ml-dtypes==0.2.0
mock
more-itertools
mpi4py==3.1.5
mpmath
msgpack
multidict
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
nose
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.133
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.9.0.80
openpyxl
opt-einsum==3.3.0
overrides
packaging==21.3
pandas==1.5.3
pandas_market_calendars==4.4.0
pandocfilters
parso
partd
path
pathlib2
pathos==0.3.2
pathspec
patsy
pexpect
pickleshare
pillow
pkginfo
pkgutil_resolve_name
platformdirs
plotly
pluggy
ply==3.11
pox==0.3.4
ppft==1.7.6.8
prometheus_client
prompt-toolkit
protobuf==4.25.3
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
py-cpuinfo
py4j==0.10.9.5
pyarrow==15.0.0
pyarrow-hotfix
pyasn1
pyasn1-modules==0.3.0
pybind11
pybind11-global
pycodestyle
pycosat
pycparser
pycryptodome
pycurl==7.45.1
pydocstyle
pyerfa
pyflakes
pyfunctional==1.4.3
pygame==2.5.2
Pygments
pykerberos
pylint
pylint-venv
pyls-spyder
pyluach==2.2.0
pynvml
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.9
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.4
pyrsistent
PySocks
pyspark==3.3.0
pyspnego
pytest
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
PyWavelets
pyxdg
pyxlsb==1.0.10
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
referencing
regex
requests
requests-kerberos
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs==0.4.2
s3transfer
sagemaker==2.214.3
sagemaker_pyspark==1.4.5
schema==0.7.5
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
shap==0.44.1
Shimmy==1.3.0
sip
six
slicer
smclarify==0.5
smdebug-rulesconfig==1.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
sparkmagic
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
stable_baselines3==2.3.0
stack-data
statsmodels
sympy
tables
tabulate
tblib==2.0.0
tenacity
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
toml
tomli
tomlkit
toolz
torch==2.2.2
tornado
tqdm
traitlets
triton==2.2.0
typed-ast
types-python-dateutil
typing-utils
typing_extensions
tzdata
ujson
unicodedata2
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt==1.14.1
wurlitzer
XlsxWriter
xyzservices
yapf
yarl
zict
zipp
zope.event
zope.interface
